/mooc-ProgrammingWithJava-PART1/week1-001.Name/build/
/mooc-ProgrammingWithJava-PART1/week1-004.ChangingVariables/build/
/mooc-ProgrammingWithJava-PART1/week1-005.SecondsOfTheYear/build/
/mooc-ProgrammingWithJava-PART1/week1-006.Addition/build/
/mooc-ProgrammingWithJava-PART1/week1-007.Multiplication/build/
/mooc-2013-OOProgrammingWithJava-PART1/week1-005.SecondsOfTheYear/nbproject/private/
/mooc-2013-OOProgrammingWithJava-PART1/week1-001.Name/nbproject/private/
/mooc-2013-OOProgrammingWithJava-PART1/week1-003.Spruce/nbproject/private/
/mooc-2013-OOProgrammingWithJava-PART1/week1-006.Addition/nbproject/private/
/mooc-2013-OOProgrammingWithJava-PART1/week1-002.HelloWorld/nbproject/private/
/mooc-2013-OOProgrammingWithJava-PART1/week1-007.Multiplication/nbproject/private/
/mooc-ProgrammingWithJava-PART1/SquareRootofNumber/target/
/mooc-ProgrammingWithJava-PART1/LoopsPractice/target/
/mooc-ProgrammingWithJava-PART1/OnlyPositives/target/
/mooc-ProgrammingWithJava-PART1/NumberOfNumbers/target/