/mooc-ProgrammingWithJava-PART1/week1-001.Name/build/
/mooc-ProgrammingWithJava-PART1/week1-004.ChangingVariables/build/
/mooc-ProgrammingWithJava-PART1/week1-005.SecondsOfTheYear/build/
/mooc-ProgrammingWithJava-PART1/week1-006.Addition/build/
/mooc-ProgrammingWithJava-PART1/week1-007.Multiplication/build/